@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .menuItem {
    @apply bg-gray-700 w-full text-gray-200 outline-gray-300 border rounded-lg active:bg-gray-500 active:text-white
  }
  .recent-chat-box{
    @apply flex justify-between items-center outline-white border rounded-lg px-2 mx-3 my-4
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
